/* #1c1b2f Violet foncé -	Background */
/* #a172f8 Violet clair	- Border */
/* #dd4fd0 Rose - Titles */
/* linear-gradient(to right, #a172f8, #dd4fd0) Dégradé violet/rose - Buttons */
/* #e0d9ff Gris -	Texte secondaire */

:root {
  --color-bg: #1c1b2f;
  --color-violet: #a172f8;
  --color-pink: #dd4fd0;
  --color-light: #e0d9ff;
}

body {
  margin: 0;
}

.signup-container {
  background-color: var(--color-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
