@import "tailwindcss";
/* @import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --color-bg: #1c0a30;
  --color-bgComponents: #1c1b2f;
  --color-violet: #9269df;
  --color-pink: #dd4fd0;
  --color-light: #e0d9ff;
} */
